<button class="close-btn">
  <i class="fa-solid fa-xmark"></i>
</button>
<header class="header-sidebar">
  <div class="header-div">
    <div class="logo">
      <i class="fa-solid fa-address-book"></i>
      <h1>EMS</h1>
    </div>
    <h2>employee management system</h2>
  </div>
</header>
<main class="sidebar-content">
  <a href="dashboard.html">
    <i class="fa-regular fa-house"></i>
    <span class="common-para">Dashboard</span>
  </a>

  <a href="employees.html">
    <i class="fa-regular fa-user"></i>
    <span class="common-para">Employees</span>
  </a>

  <a href="addcontact.html">
    <i class="fa-solid fa-plus"></i>
    <span class="common-para">Add Employees</span>
  </a>
  <button class="logout-btn">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span href="" class="common-para">logout</span>
  </button>
</main>
<footer class="sidebar-footer">
  <img src="./assests/imgs/avatar img.jpg" alt="default admin image" />
  <div class="user-content">
    <p>hello admin 👏</p>
    <p class="admin-name">ahmed</p>
  </div>
</footer>
